@import "./styles/base.css";
@import "./styles/components.css";
@import "./styles/utilities.css";
@import "./styles/layout.css";

/* Tailwind entry points (requires Tailwind/PostCSS to be installed)/ Tailwind v3 */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

